doctype 
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        title Challenge  
    body 
        h1 Challenge 

        -for(var i=2;i<=10;i++)
        li 